.search {
  display: flex;
  justify-content: center;
  margin: 0px auto 0px auto;
  background: none;
  color: white;
  width: 70vw;
  border-radius: 15px;
  padding: 0px;
  height: 100%;
  padding: 20px;
}

form {
  background: #060218;
}
